
<h3 class="text-center"><%= @location.address -%> </h3>


<div class="well">

  <div  id="location-show">
    <table class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th>Latitude</th>
          <th>Latitude</th>
          <th>Address</th>
          <th>Description</th>
          <th>Update Picture</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @location.latitude %></td>
          <td><%= @location.longitude %></td>
          <td><%= @location.address %></td>
          <td><%= @location.description %></td>
          <td><%= link_to "Edit Location", edit_location_path(@location), class:"btn btn-default" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div  id="loc-pic-opration-button">
    <%= link_to "Add New Picture", new_location_picture_path(@location), class: "btn btn-default" -%>
    <%= link_to 'Back To List Of Location', locations_path, class:"btn btn-default" %>
  </div>

</div>



<hr>

<div class="location-picture-show">
  <div id="location-map">
    <%= render partial: 'gmap4rails' %>
  </div>
  <div id="location-pictures-details" class="text-left">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Picture Name</th>
          <th>Edit Picture</th>
        </tr>
      </thead>
      <tbody>
        <% @location.pictures.each do |picture| %>
        <tr>
          <td><%= picture.name%></td>
          <td><%= link_to "Edit Picture", edit_location_picture_path(@location, picture), class: "btn btn-primary"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
